table, th, td {
    border: 1px solid var(--border-color);
    border-collapse: collapse;
  }

  th {
    font-weight: 500;
    font-size: 15px;
    padding: 12px;
  }
  td{
    font-weight: 400;
    font-size: 13px;
    padding: 12px;
  }