.btn {
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    padding: 10px;
    border: 0;
    cursor: pointer;
}

.file-drop-zone {
    border: 1px solid var(--border-color);
    margin-top: 12px;
}

.file-drop-zone {
    width: 200px;
    height: 200px;
    border: 2px dashed gray;
    text-align: center;
    cursor: pointer;
  }
  
  .file-drop-zone.drag-over {
    border-color: green;
  }