<section class="login-container">
    <section class="login-form-wrap">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <h1>{{headingFormName}}</h1>
            <div class="form-element">
                <label for="username">Your User Name</label>
                <input type="text" id="username" formControlName="username">
            </div>
            <div class="form-element">
                <label for="password">Your Password</label>
                <input [type]="changeType" formControlName="password">
                <span class="eyeicon" (click)="togglePasswordVisibility()"><i style="color: blue;" [ngClass]="{ 'fa fa-eye': showPassword, 'fa-solid fa-eye-slash': !showPassword }"></i></span>
            </div>
            <div class="form-element" *ngIf="showConfirmControl">
                <label for="cpassword">Confirm Password</label>
                <input [type]="ConfirmChangeType" formControlName="password" id="cpassword" formControlName="confirmpassword" name="confirmpassword">
                <span class="eyeiconConPassword" (click)="toggleConfirmPasswordVisibility()"><i style="color: blue;" [ngClass]="{ 'fa fa-eye': showConfirmPassword, 'fa-solid fa-eye-slash': !showConfirmPassword }"></i></span>
            </div>
            <div class="form-element">
                <button type="submit" [disabled]="registrationForm.invalid">{{formBtnText}}</button>
                <p class="login-container_alreadyauth-txt" (click)="switchAuthForm('login')">{{alreadyLoginStatus}}? Click <span>here</span> to login</p>
            </div>
        </form>
    </section>
</section>