<!-- <button style="margin-right: 10px;" (click)="testGetApi()">Test GET API Call </button>
<button (click)="testPostApi()">Test POST API Call </button> -->
<main class="dashboard-wrapper">
    <aside id="sidebar">
        <ul>
            <li>
                <a routerLink="/expensetracker">My Expense Tracker</a>

            </li>
            <li>
                <a routerLink="/expensetracker">My EMI Tracker</a>
            </li>
        </ul>
    </aside>
    <section id="center-content">
        <h5>Main</h5>

    </section>
 