/* You can add global styles to this file, and also import other style files */


.light-theme {
    --bg-color: #f5f5f5; // Default light theme color
    --text-color: #333; // Default light theme text color
    --btn-bg-color: #a8a6a6;
    --text-link-color: blue;
    --border-color: #000;
  }

.dark-theme {
  --bg-color: #0a102f; // Dark theme color
  --text-color: #fff; // Dark theme text color
  --btn-bg-color: #3e4b8c;
  --text-link-color: yellow;
  --border-color: #fff;
}

:root {
  --btn-dark-bg: #3e4b8c; 
  --btn-dark-text: #fff;

  --btn-light-bg: #f5f5f5; 
  --btn-light-text: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background: var(--bg-color);
  color: var(--text-color);
}


a {
  text-decoration: none;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.mt-3 {
  margin-top: 13px;
}

// generic form
.rg-form-wrapper {
  padding: 12px;
  margin-top: 22px;
  .rg-control-wrapper {
    margin-bottom: 12px;
  }
  label {
    display: block;
    font-size: 16px;
  }
  input.rg-control-input {
    padding-left: 4px;
    width: 90%;
    &:focus {
      border: 0;
      outline: none;
    }
  }

  button {
    cursor: pointer;
  }
}